<% content_for :page_title do%>
  <h2 class="page-title">works</h2>
<% end %>

<div class="category-list">
<%= link_to("/works/category/editorial") do %><span>editorial</span><% end %>
<%= link_to("/works/category/graphic") do %><span>graphic</span><% end %>
<%= link_to("/works/category/web") do %><span>web</span><% end %>
<%= link_to("/works/category/ui_ux") do %><span>UI/UX</span><% end %>
<%= link_to("/works") do %><span>All</span><% end %>
</div>

<div class="card-container">
<% @works.each do |work| %>
  <div class="card">
    <%= link_to("/works/#{work.id}") do %>
      <figure><img src="<%= asset_pack_path "images/works/#{work.category}/#{work.slug}/thumb.jpg" %>"></figure>
      <h3 class="title"><%= work.title %></h3>
      <%= link_to("/", class: "category") do %><%= work.category %><% end %>
    <% end %>
  </div>
<% end %>
</div>
