<% content_for :page_title do%>
  <h2 class="page-title">notes</h2>
<% end %>

<div class="admin-action">
  <%= link_to("/works/#{@work.id}/edit") do %><span>編集</span><% end %>
  <%= link_to("/works/#{@work.id}/destroy", {method: :post, data: { confirm: '本当に削除しますよ？' }}) do %><span>削除</span><% end %>
</div>

<% if @work.previous %>
<%= link_to("前", "/works/#{@work.previous.id}") %>
<% end %>
<% if @work.next %>
<%= link_to("次", "/works/#{@work.next.id}") %>
<% end %>

<h3 class="content-title"><%= @work.title %></h1>
<p class="content-meta"><%= @work.category %></p>
<p class="content-description"><%= @work.description %></p>
<% @work.image_length.times do |image| %>
  <img class="works-img" src="<%= asset_pack_path "images/works/#{@work.category}/#{@work.slug}/#{image + 1}.jpg" %>">
<% end %>
