<h1><%= @work.title %></h1>
<p><%= @work.category %></p>
<p><%= @work.description %></p>
<img src="<%= asset_pack_path "images/works/#{@work.category}/#{@work.slug}/#{@work.id}.jpg" %>">
<%= link_to("編集", "/works/#{@work.id}/edit") %>
