<% content_for :page_specific_styles do %>
  <style>
    <%= Rouge::Themes::Github.render(:scope => '.highlight') %>
  </style>
  <%= stylesheet_pack_tag 'rouge_custom' %>
<% end %>

<% content_for :page_title do%>
  <h2 class="page-title">works</h2>
  <div class="content-nav">
    <% if @work.previous %>
    <%= link_to("< back", "/works/#{@work.previous.id}") %>
    <% else %>
    <a class="disable">< back</a>
    <% end %>
    <%= link_to("works", "/works") %>
    <% if @work.next %>
    <%= link_to("next >", "/works/#{@work.next.id}") %>
    <% else %>
    <a class="disable">next ></a>
    <% end %>
  </div>
<% end %>

<article class="content-wrap">
<h3 class="content-title"><%= @work.title %></h1>
<% @work.category == "ui_ux" ? work_category = "UI/UX" : work_category = @work.category %>
<%= link_to work_category, "/works/category/#{@work.category}", class: "content-meta" %>
<p class="content-description"><%= @work.description %></p>
<div class="content">
  <%= sanitize markdown(@work.content) %>
</div>
</article>
