<% content_for :page_title do%>
  <h2 class="page-title">notes</h2>
  <div class="content-nav">
    <% if @work.previous %>
    <%= link_to("< back", "/works/#{@work.previous.id}") %>
    <% else %>
    <a class="disable">< back</a>
    <% end %>
    <%= link_to("works", "/works") %>
    <% if @work.next %>
    <%= link_to("next >", "/works/#{@work.next.id}") %>
    <% else %>
    <a class="disable">next ></a>
    <% end %>
  </div>
<% end %>
<article class="content-wrap">
<h3 class="content-title"><%= @work.title %></h1>
<%= link_to @work.category, "/works/category/#{@work.category}", class: "content-meta" %>
<!-- <figure class="content-main-image"><img src="<%= asset_pack_path "images/works/#{@work.category}/#{@work.slug}/thumb.jpg" %>"></figure> -->
<p class="content-description"><%= @work.description %></p>
<% @work.image_length.times do |image| %>
  <img class="works-img" src="<%= asset_pack_path "images/works/#{@work.category}/#{@work.slug}/#{image + 1}.jpg" %>">
<% end %>
</article>
