<div class="user-container">
<% @users.each do |user| %>
  <div class="card card--user">
    <div><%= link_to("/users/#{user.id}") do %><h3 class="title"><%= user.name %></h3><% end %></div>
    <div class="links">
      <%= link_to("編集", "/users/#{user.id}/edit") %>
      <span>|</span>
      <%= link_to("削除", "/users/#{user.id}/destroy", {method: :post, data: { confirm: '本当に削除しますよ？' }}) %>
    </div>
  </div>
<% end %>
<%= link_to("追加", "/users/new", class: "add-btn") %>
</div>
