<div class="admin-action">
  <%= link_to("/posts/new") do %><span>追加</span><% end %>
</div>

<div class="card-container">
<% @posts.each do |post| %>
  <div class="card">
    <%= link_to("/posts/#{post.id}") do %><h3 class="title"><%= post.title %></h3><% end %>
    <%= link_to("/posts/#{post.id}/edit") do %><span>編集</span><% end %>
    <%= link_to("/posts/#{post.id}/destroy", {method: :post, data: { confirm: '本当に削除しますよ？' }}) do %><span>削除</span><% end %>
  </div>
<% end %>
</div>
