<section class="top-block about fadein">
  <div>
    <h2>デザイナー。コードも最近書いてます。</h2>
    <p>いままでエディトリアルデザインからはじまり、webデザインにも挑戦するため、HTML/CSSを勉強sはじめました。今ではJavaScriptやRailsを軽く触ったりしています。これからはユーザーファーストなデザインはもちろんエンジニアリングも意識したデザインをしていきたいです。</p>
  </div>
</section>
<div class="card-container full-size">
<% @posts.each do |post| %>
  <div class="card full-size fadein">
    <%= link_to("/notes/#{post.id}") do %>
      <div class="card-inner">
        <figure class="content-main-image"><%= image_tag post.image.to_s %></figure>
        <h3 class="title"><%= post.title %></h3>
        <div class="category-wrap">
          <p class="category"><%= post.tag %></p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
</div>
<div class="top-button">
  <%= link_to("もっと見る", "/notes", class: 'button fadein') %>
</div>
