<div class="form-container">
  <%= form_tag("/notes/#{@post.id}/update", {multipart: true}) do %>

    <label>記事タイトル</label>
    <input type="text" name="title" value="<%= @post.title %>">

    <label>カテゴリー</label>
    <%= select :post, :tag, {
      "design" => "design",
      "frontend" => "frontend",
      "rails" => "rails"
      }, selected: @post.tag %>

    <label>スラッグ</label>
    <input type="text" name="slug" value="<%= @post.slug %>">

    <label>メイン画像</label>
    <input type="file" name="image">

    <div class="title-wrapper">
      <label>本文用画像</label>
      <%= link_to('画像アップロード', "/notes/#{@post.id}/image_upload", class: 'title-button') %>
    </div>
    <div class="file-list">
      <% @images.each do |image| %>
        <p class="file-name"><%= image_tag image.image.to_s %><span class="file-path"><%= image.image.to_s %></span><%= link_to("削除", "/notes/#{@post.id}/image_upload/#{image.id}/destroy", {method: :post, class: 'file-remove'}) %></p>
      <% end %>
    </div>

    <label>本文</label>
    <textarea name="content"><%= @post.content %></textarea>
    <label>ステータス</label>
    <%= select :post, :status, {
        "下書き" => "pre",
        "公開" => "opened"
      }, selected: @post.post_status %>
    <button type="submit">修正</button>
  <% end %>
</div>
