<!-- <%= react_component("PostList", {datas: @posts}) %> -->
<% content_for :page_title do%>
  <h2 class="page-title">notes</h2>
<% end %>

<div class="category-list">
<%= link_to("/notes") do %><span>All</span><% end %>
<%= link_to("/notes/category/design") do %><span>design</span><% end %>
<%= link_to("/notes/category/frontend") do %><span>frontend</span><% end %>
<%= link_to("/notes/category/rails") do %><span>rails</span><% end %>
</div>

<div class="card-container">
<% @posts.each do |post| %>
  <div class="card">
    <%= link_to("/notes/#{post.id}") do %>
      <div class="card-inner">
        <figure class="content-main-image"><img src="<%= asset_pack_path "images/posts/#{post.slug}/thumb.png" %>"></figure>
        <h3 class="title"><%= post.title %></h3>
        <div class="category-wrap">
          <p class="category"><%= post.tag %></p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
</div>
