<!-- <%= react_component("PostList", {datas: @posts}) %> -->
<% content_for :page_title do%>
  <h2 class="page-title">notes</h2>
<% end %>

<% if is_admin? %>
  <div class="admin-action">
    <%= link_to("/notes/new") do %><span>追加</span><% end %>
  </div>
<% end %>

<%= link_to("/notes/category/design") do %><span>design</span><% end %>
<%= link_to("/notes/category/html") do %><span>html</span><% end %>
<%= link_to("/notes/category/css") do %><span>css</span><% end %>
<%= link_to("/notes/category/javascript") do %><span>javascript</span><% end %>
<%= link_to("/notes/category/rails") do %><span>rails</span><% end %>
<%= link_to("/notes") do %><span>All</span><% end %>

<div class="card-container">
<% @posts.each do |post| %>
  <div class="card">
    <%= link_to("/notes/#{post.id}") do %>
      <%= image_tag("/posts/main_images/#{post.main_image}") %>
      <h3 class="title"><%= post.title %></h3>
      <p class="category"><%= post.tag %></p>
    <% end %>
  </div>
<% end %>
</div>
