<% content_for :page_title do%>
  <h2 class="page-title">notes</h2>
<% end %>

<div class="admin-action">
  <%= link_to("/notes/#{@post.id}/edit") do %><span>編集</span><% end %>
  <%= link_to("/notes/#{@post.id}/destroy", {method: :post}) do %><span>削除</span><% end %>
</div>

<% content_for :page_specific_styles do %>
  <style>
    <%= Rouge::Themes::Molokai.render(:scope => '.highlight') %>
  </style>
  <%= stylesheet_pack_tag 'rouge_custom' %>
<% end %>

<h2 class="content-title"><%= @post.title %></h2>
<p class="content-meta"><%= @post.tag %></p>
<%= image_tag("/posts/main_images/#{@post.main_image}") %>
<div class="content">
  <%= sanitize markdown(@post.content) %>
</div>
