<% content_for :page_specific_styles do %>
  <style>
    <%= Rouge::Themes::Github.render(:scope => '.highlight') %>
  </style>
  <%= stylesheet_pack_tag 'rouge_custom' %>
<% end %>

<% content_for :page_title do%>
  <h2 class="page-title">notes</h2>
<% end %>

<article class="content-wrap">
<div class="content-nav">
  <div class="nav-left"><%= link_to("< notes", "/notes") %></div>
  <div class="nav-right">
    <% if @post.previous %>
    <%= link_to("back", "/notes/#{@post.previous.id}", class: "previous") %>
    <% end %>
    <% if @post.previous && @post.next %>
     <span>|</span>
    <% end %>
    <% if @post.next %>
    <%= link_to("next", "/notes/#{@post.next.id}", class: "next") %>
    <% end %>
  </div>
</div>

<h2 class="content-title"><%= @post.title %></h2>
<%= link_to @post.tag, "/notes/category/#{@post.tag}", class: "content-meta" %>
<figure class="content-main-image"><%= image_tag("/posts/main_images/#{@post.main_image}") %></figure>
<div class="content">
  <%= sanitize markdown(@post.content) %>
</div>
</article>
