<% content_for :page_specific_styles do %>
  <style>
    <%= Rouge::Themes::Github.render(:scope => '.highlight') %>
  </style>
  <%= stylesheet_pack_tag 'rouge_custom' %>
<% end %>

<% content_for :page_title do%>
  <h2 class="page-title">notes</h2>
  <div class="content-nav">
    <% if @post.previous %>
    <%= link_to("< back", "/notes/#{@post.previous.id}", class: "previous") %>
    <% else %>
    <a class="disable">< back</a>
    <% end %>
    <%= link_to("notes", "/notes") %>
    <% if @post.next %>
    <%= link_to("next >", "/notes/#{@post.next.id}", class: "next") %>
    <% else %>
    <a class="disable">next ></a>
    <% end %>
  </div>
<% end %>

<article class="content-wrap">
<h2 class="content-title"><%= @post.title %></h2>
<%= link_to @post.tag, "/notes/category/#{@post.tag}", class: "content-meta" %>
<figure class="content-main-image round"><img src="<%= asset_pack_path "images/posts/#{@post.slug}/thumb.png" %>"></figure>
<div class="content">
  <%= sanitize markdown(@post.content) %>
</div>
</article>
