<% content_for :page_specific_styles do %>
  <style>
    <%= Rouge::Themes::Molokai.render(:scope => '.highlight') %>
  </style>
  <%= stylesheet_pack_tag 'rouge_custom' %>
<% end %>

<h2><%= @post.title %></h2><p><%= @post.tag %></p>
<%= image_tag("/posts/main_images/#{@post.main_image}") %>
<%= sanitize markdown(@post.content) %>
