<% content_for :page_title do%>
  <h2 class="page-title">notes</h2>
<% end %>

<%= link_to("編集", "/notes/#{@post.id}/edit") %>
<%= link_to("削除", "/notes/#{@post.id}/destroy", {method: :post}) %>

<% content_for :page_specific_styles do %>
  <style>
    <%= Rouge::Themes::Molokai.render(:scope => '.highlight') %>
  </style>
  <%= stylesheet_pack_tag 'rouge_custom' %>
<% end %>

<h2><%= @post.title %></h2><p><%= @post.tag %></p>
<%= image_tag("/posts/main_images/#{@post.main_image}") %>
<div class="content">
  <%= sanitize markdown(@post.content) %>
</div>
