<header class="header">
  <div class="header-logo">
    <%= link_to("/") do %>
      <span>デ</span><span>ザ</span><span>イ</span><span>ン</span><span>、</span><br>
      <span>開</span><span>発</span><span>、</span><br>
      <span>た</span><span>の</span><span>し</span><span>い</span><span>。</span>
    <% end %>
  </div>
  <div class="header-blank"></div>
  <nav class="header-nav" id="menu">
    <ul class="nav-list">
      <li><%= link_to("notes", "/notes") %></li>
      <li><%= link_to("works", "/works") %></li>
    </ul>
    <div class="user-action">
      <% if session[:user_id] %>
        <% if is_admin? %>
          <%= link_to("- #{@current_user.name}", "/users/#{@current_user.id}") %>
        <% end %>
        <%= link_to "- logout", "/logout", {method: "post"} %>
      <% end %>
    </div>
  </nav>
</header>
<div class="menu-btn" id="menu-open"><span>・・・</span></div>
