<header class="header">
  <div class="header-logo">
    <%= link_to("/") do %>
      <span>デ</span><span>ザ</span><span>イ</span><span>ン</span><span>、</span><br>
      <span>開</span><span>発</span><span>、</span><br>
      <span>た</span><span>の</span><span>し</span><span>い</span><span>。</span>
    <% end %>
  </div>
  <div class="header-blank"></div>
  <nav class="header-nav">
    <ul class="nav-list">
      <li><%= link_to("notes", "/notes") %></li>
      <li><%= link_to("works", "/works") %></li>
    </ul>
    <div class="user-action">
      <%= link_to("users", "/users") %>
      <% if session[:user_id] %>
        <%= link_to "/logout", {method: "post"} do %>
          <span>l</span><span>o</span><span>g</span><span>o</span><span>u</span><span>t</span>
        <% end %>
        <% if is_admin? %>
          <%= link_to("users", "/users") %>
        <% end %>
      <% end %>
    </div>
  </nav>
</header>
