<header class="header" id="header">
  <div class="header-logo">
    <%= link_to("/") do %>
      <span class="circle"></span>
    <% end %>
  </div>
  <div class="header-blank"></div>
  <% if session[:user_id] %>
    <nav class="header-nav">
      <ul class="nav-list">
        <li><%= link_to("Works", "/works") %></li>
        <li><%= link_to("About", "/about") %></li>
      </ul>
      <div class="user-action">
        <% if is_admin? %>
          <%= link_to("- #{@current_user.name}", "/users/#{@current_user.id}") %>
        <% end %>
        <%= link_to "- logout", "/logout", {method: "post"} %>
      </div>
    </nav>
  <% end %>
</header>
