<!DOCTYPE html>
<html>
  <head>
    <title>Design and Develop is FUN</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- favicon -->
    <!-- touch-icon -->
    <%= csrf_meta_tags %>
    <%= stylesheet_pack_tag 'app' %>
    <%= yield :page_specific_styles %>
    <%= javascript_pack_tag 'app' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notify-bar">
        <span><%= flash[:notice] %></span>
      </div>
    <% end %>
    <%= render "header" %>
    <%= yield :page_title %>
    <div class="inner wrapper">
      <%= yield %>
    </div>
  </body>
</html>
