<!DOCTYPE html>
<html>
  <head>
    <title>MyPortfolio</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_pack_tag 'app' %>
    <%= yield :page_specific_styles %>
    <%= javascript_pack_tag 'app' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div>
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if session[:user_id] %>
      <p><%= @current_user.name %></p>
      <%= link_to "ログアウト", "/logout", {method: "post"} %>
    <% else %>
      <%= link_to("login", "/login") %>
    <% end %>
    <%= yield %>
  </body>
</html>
