<!DOCTYPE html>
<html>
  <head>
    <title>MyPortfolio</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_pack_tag 'app' %>
    <%= yield :page_specific_styles %>
    <%= javascript_pack_tag 'app' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div>
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
