<!DOCTYPE html>
<html>
  <head>
    <title>kikuchi tetsuro's Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <!-- favicon -->
    <!-- touch-icon -->
    <%= csrf_meta_tags %>
    <%= stylesheet_pack_tag 'app' %>
    <%= yield :page_specific_styles %>
    <%= javascript_pack_tag 'app' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notify-bar">
        <span id="notify-bar"><%= flash[:notice] %></span>
      </div>
    <% end %>
    <%= render "header" %>
    <%= yield :page_title %>
    <div class="inner wrapper <%= "#{controller_name}-#{action_name}" %>">
      <%= yield %>
    </div>
    <% unless controller.controller_name == 'works' && controller.action_name == 'show' %>
      <%= render "footer" %>
    <% end %>
  </body>
</html>
